* {
  box-sizing: border-box;
}
body{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}
.clearfix::after {
content:"";
Ñlear: both;
display: table;
}
main{
width: 1243px;
margin: 0 auto;
padding: 142px 0 128px;
}
h1>strong{
color: #2D3640;
font-weight: 600;
letter-spacing:-0.5px;
}
h1{
color: #2D3640;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 80px;
letter-spacing: -0.5px;
}
.sub-title-text{
  width: 695px;
color: #2B292D;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height:40px;
margin-bottom: 50px;
}
.user-card{
padding: 58px 0 122px;
width: 295px;
background-color: #fff;
text-align: center;
float:left;
margin-right:20px;
margin-left: 20px;
border-radius:20px;
overflow: hidden;
}
.card-row .user-card:last-child{
  margin-right: 0;
}
.user-photo{
width: 114px;
height: 114px;
border-radius: 100%;
overflow: hidden;
margin: 0 auto;
border: 3px solid #EFF3F8;
}
.user-photo{
  width: 114px;
  height: 114px;
}
.user-card h4{
color: #2D3640;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.625px;
margin: 34px 0 4px;
}
.user-card p{
color: #4B4F52;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 33px;
}
.skills{
text-align: center;
font-size: 0;
}
.slill-item{
width: 50px;
height: 50px;
overflow: hidden;
border-radius: 100%;
text-align: center;
padding: 10px 0 0 0;
display: inline-block;
margin-right: 15px;
}
.skills.slill-item:last-child{
 margin-right: 0;
}
.slill-item>img{
  width: 25px;
}
.vue{
background: #41B883;
padding: 15px 0 0;
}
.angular{
background:#34474F;
}
.flutter{
  background:#202124;
}
.react{
  background:#61DAFB;
}
.java{
  background: #D63033;
}
.native{
  background: #0AA9D7;
}
.html{
  background: #E44E25;
}
.css{
  background: #1073BB;
}